@import '../helpers/color-scheme';

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  color: white !important;
  margin: 0;
  background: $fm-flex-green;
  background: linear-gradient(top, $fm-flex-green 0%, $fm-flex-green 0%, darken($fm-flex-green, 10) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61bf74', endColorstr='#3d7751', GradientType=0);
  background-repeat: no-repeat;
}

.flex-spacer {
  flex: 1;
}

.btn {
  min-width: 250px;
}